---
layout: default
title: Home
---
<img class="centered" src="/public/images/idiot.png" alt="" height="200">
<h3 class="centered">Programming Made <em>Dead</em> Simple</h3>

<hr>
{% include welcome_msg.html %}
<hr>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.tldr != null %}
      <p class="message tldr">tl;dr - {{ post.tldr }}</p>
    {% endif %}
    {{ post.content | strip_html | truncatewords: 50 }}
    <a class="full-post-link" href="{{ post.url }}"><i class="fa fa-rocket"></i></a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

