.centered {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tldr {
  text-align: center;
}

.header-img {
  display: inline;
  margin: 0;
  height: 1.25rem;
  vertical-align: text-top;
}

.full-post-link {
  /*
  display: block;
  text-align: center;
  margin: 5px;
  */
}

/* Centering headers and post dates */

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.post-date {
  text-align: center;
}

.masthead-title {
  text-align: left;
}

/* line numbers */

.highlight .lineno {
  display: inline-block;
  padding-right: .75rem;
  padding-left: .25rem;
  color: #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* highlighted sidebar item */

.sidebar .highlight-item {
  /*color: black;
  background-color: rgba(255,255,255,.7);
  */
  text-decoration: underline;
}

.sidebar .highlight-item:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
}

/* TODO - Subscribe Button and Box */

.subscribe-box input {

}

.subscribe-box button {
  
}